<nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="/{{user.id}}{{user}}" class="brand-logo header-text">Hiking Trails</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/" class="logout">LogOut</a>
      </ul>
    </div>
  </nav>
