<form method="post" action="/sessions?_method=DELETE">
<nav>
    <div class="nav-wrapper light-blue darken-4">
        <a href="/{{user.id}}" class="brand-logo header-text">Hiking Trails</a>
        <ul id="nav-mobile" class="right">
            <li><a class=""><button class="logout light-blue darken-4">Logout</button></a>
        </ul>
    </div>
</nav>
</form>