<section class="col-md-6 col-sm-6 col-xs-6 welcome-msg ">
    <h2>Combine serious wanderlust with a hunger for
        scenic views, and what do you get? The best
        long-distance hiking trails in the US. From
        the most popular ones to lesser-known gems,
        these trails are made for walking
    </h2>
</section>