<!-- This will add nav bar from partial header file -->
{{>header}}

<!-- This allows you to add photosfor the selected place -->
<div class="col-md-6 new-place z-depth-4 hoverable">
    <form action="/{{userId}}/{{placesId}}/photos/" method="POST">
        <div>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div>
            <!-- it allows the user to add url if it matches the pattren specified -->
            <input type="url" name="photoUrl"  pattern="https?://.+" required placeholder="Image Url">
        </div>
        <div class="add-button center col-md-12">
            <input type="submit" value="Add" class="btn btn-success">
            <a href="/{{userId}}/places/{{placesId}}/show" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>