@media only screen and (max-width: 1160px)  {
    .carousel {
    height: 22em;
    width: 100%;
    margin: 0 auto;
    }

    .login-container {
    /*position: absolute;*/
    /*top: 15em;*/
    left: 5%;
}
}

@media only screen and (max-width: 1000px) {
    .login-container {
    position: static !important;
}

    .carousel {
        display: none;
    }
    .welcome-msg {
        display: none;
}
    .login {
        margin: 3em 13em;

    }

}




@media only screen and (max-width: 800px) {
    .login-container {
    position: static !important;
    /*width: 70%;*/
    margin: 5em auto;
    height: 400px;
    min-width: 45em;
    /*margin-left: 0;*/
}

    .login {
        margin: 1em 13em;
    }


}

@media only screen and (max-width: 735px) {
    .login {
        margin: 1em 10em;
        margin-right: 0;

    }
    }

@media only screen and (max-width: 730px) {
    .login-container {
    margin-right: 0;
}
    .login {
        margin: 1em 0em;
    }
}
