@media only screen and (max-width: 1160px)  {
    /*Sets the carousel width 100% when screen lessthan 1160px*/
    .carousel {
        height: 22em;
        width: 100%;
        margin: 0 auto;
    }

    .login-container {
        left: 5%;
    }
}

@media only screen and (max-width: 1000px) {
    /*Reverting to static screen from absolute*/
    .login-container {
    position: static !important;
    }

    /*hiddind caraousel and welcome-msg when screen is lessthan 1000px*/
    .carousel {
        display: none;
    }

    .welcome-msg {
        display: none;
    }

    .login {
        margin: 3em 13em;
    }

    .galary-view-btn {
        position: static;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 800px) {
    .login-container {
        position: static !important;
        margin: 5em auto;
        height: 400px;
        min-width: 45em;
    }

    .login {
        margin: 1em 13em;
    }

    .galary-view-btn {
        position: static;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 735px) {
    .login {
        margin: 1em 10em;
        margin-right: 0;
    }

    .galary-view-btn {
        position: static;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 730px) {
    .login-container {
        margin-right: 0;
        margin: 0 auto;
    }

    .login {
        /*margin: 1em 0em;*/
        margin: 0 auto;
    }

    .galary-view-btn {
        position: static;
        margin: 0 auto;
    }
}
