<!-- This is user login page -->

<!--This will include the content of loginheader content from partials -->
{{>loginheader}}

<form action="/sessions/login" method="POST">

    <div class="container login-container">
        <!--This will include the content of loginMsg content from partials -->
        {{>loginMsg}}
        <section class="col-md-4 col-sm-6 col-xs-6 login z-depth-4 hoverable">
            <div >
                <h1>Hiking Trails</h1>
            </div>

            <div class="col-md-12">
                <input type="email" name="email" class="col-md-6 text-size" placeholder="Email" required>
            </div>

            <div class="col-md-12">
                <input type="password" name="password" class="col-md-8 text-size" placeholder="Password">
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 login-button">
                <input type="submit" value="Login" class="btn btn-primary btn-sm btn-block">
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 login-button signup">
                Dont have an account? <a class="" href="/signup" >SignUp</a>
            </div>
        </section>
    </div>
</form>

<!-- When you click on visit out galary button it will redirect to user/show pages -->
<div class="col-md-12 galary-view-btn">
    <form action="/galary/">
        <input type="submit" name="" class="btn btn-default" value="Visit Our Galary">
    </form>
</div>


