<!-- This is a signup page -->

<!-- this will include the loginheader file content from partial -->
{{>loginheader}}

<form action="/" method="POST">
    <main class="container login-container">
        <!-- This will include loginMsg file content from partials -->
        {{>loginMsg}}

        <!-- This section is for signup box -->
        <section class="col-md-4 col-sm-6 col-xs-6 login z-depth-4 hoverable">
            <div >
                <h1>Hiking Trails</h1>
            </div>

            <div class="col-md-12">
                <!-- this will validate the user email based on the pattren -->
                <input type="email" name="email" title="Must be in this pattern: example@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email" required>
            </div>

            <div class="col-md-12">
                <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password" required>
            </div>

            <div class="col-md-12">
                <input type="text" name="username" placeholder="Username" required>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 login-button">
                <input type="submit" value="SignUp" class="btn btn-primary btn-sm btn-block">
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 login-button signup">
                <span class="signinerror">{{error1}}</span><br>
                Have an account? <a class="" href="/" >LogIn</a>
            </div>
        </section>
    </main>
</form>

